﻿@page "/"


<MudNumericField T="decimal" DisableUnderLine="true" @bind-Value="Value" Max=9999999 HideSpinButtons=true Class="border mud-border-primary" Margin="Margin.Dense" Variant="Variant.Text" />

<MudButton OnClick="(e)=> Value = 0">Test button</MudButton>

@code{
    internal decimal Value { get; set; }
}